h1{
        text-align: center;
        color: rgb(245, 13, 13);
}

.centrar{
    background-color: crimson;
    color: #fff;
    border: 1px solid;
    padding: 10px;
    width: 100px;
    outline: none;
    margin: auto;
    border-radius: 10px;
}
.box{
    outline: auto;
    margin: 5px;
    height: 30px;
}